.dataTable {
  padding: 0; /* Remove any padding to reduce space */
  .dataGrid {
    display: inline-flex;
    background: white;
    justify-self: auto;
    width: 100%; /* Occupy the full width of the parent */
    .MuiDataGrid-cell {
      padding: 2px; /* Add some padding to cells for spacing  */
    }
    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }
    .action {
      display: inline-flex;
      gap: 20px;
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
